<template>
    <div>
        <div v-show="!bookingWindowOpen">
            <form class="my-4" action="#" method="get" @submit.prevent="search">
                <label for="">Location</label>
                <input
                    class="appearance-none block w-full bg-grey-lighter text-black border border-grey-lighter rounded py-3 px-4 mb-4"
                    type="search"
                    placeholder="Hampshire, Poole..."
                    name="location"
                    v-model="location"
                    @input="search">

                <label for="">Type</label>
                <select
                    class="appearance-none block w-full bg-grey-lighter text-black border border-grey-lighter rounded py-3 px-4"
                    name="type"
                    v-model="type"
                    @change="search">

                    <option value="" selected>No Filter</option>
                    <option value="hotel">Hotel</option>
                    <option value="hostel">Hostel</option>

                </select>
            </form>

            <div class="google-map-canvas">
                <gmap-map :center="{lat:50.7122000, lng:-1.9829000}" :zoom="7" map-type-id="terrain" style="width: 100%; height: 500px">

                    <gmap-marker :key="index" v-for="(accommodation, index) in accommodations" :position="{lat: accommodation.latitude, lng: accommodation.longitude}" :clickable="true" @click="toggleInfoWindow(accommodation,index)">
                    </gmap-marker>

                    <gmap-info-window :position="{lat: selectedAccommodation.latitude, lng: selectedAccommodation.longitude,}" @closeclick="toggleInfoWindow(null)" v-if="selectedAccommodation">
                        <h4>{{ selectedAccommodation.name }}</h4>

                        <div class="my-2">
                            <span class="bg-orange-lighter text-sm text-orange px-2 py-1 rounded">{{ selectedAccommodation.location }}</span>
                            <span class="bg-orange-lighter text-sm text-orange px-2 py-1 rounded">{{ selectedAccommodation.type }}</span>
                        </div>

                        <p>{{ selectedAccommodation.description }}</p>
                        <button type="submit" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white bg-orange border-none hover:bg-orange-light no-underline py-3 px-8 mt-2" :class="{ 'opacity-50 cursor-not-allowed' : !hasAvailableDates(selectedAccommodation)}" @click.prevent="toggleBookingWindow(selectedAccommodation)" :disabled="!hasAvailableDates(selectedAccommodation)">Book Now</button>
                    </gmap-info-window>

                </gmap-map>
            </div>


            <div class="bg-grey-lighter p-6 my-6 " v-for="accommodation in accommodations">
                <h3>{{ accommodation.name }}</h3>

                <div class="my-2">
                    <span class="bg-orange-lighter text-sm text-orange px-2 py-1 rounded">{{ accommodation.location }}</span>
                    <span class="bg-orange-lighter text-sm text-orange px-2 py-1 rounded">{{ accommodation.type }}</span>
                </div>

                <p>{{ accommodation.description }}</p>
                <button type="submit" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white bg-orange border-none hover:bg-orange-light no-underline py-3 px-8 mt-2" :class="{ 'opacity-50 cursor-not-allowed' : !hasAvailableDates(accommodation)}" @click.prevent="toggleBookingWindow(accommodation)" :disabled="!hasAvailableDates(accommodation)">Book Now</button>
            </div>
        </div>

        <div class="mt-3" v-show="bookingWindowOpen" v-if="selectedAccommodation">
            <h1>Booking: {{ selectedAccommodation.name }}</h1>

            <label for="">Username</label>
            <input
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                type="text"
                min="1"
                name="username"
                v-model="username">

            <label for="">Password</label>
            <input
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                type="password"
                min="1"
                name="password"
                v-model="password">

            <label for="">Date</label>
            <select class="appearance-none block w-full bg-grey-lighter text-black border border-grey-lighter rounded py-3 px-4 mb-4" v-model="selectedDate">
                <option :value="date" v-for="date in availableDates(selectedAccommodation.dates)">{{ date.date }} - {{ date.spaces_left}} Left</option>
            </select>

            <label for="">Number Of People</label>
            <input
                class="appearance-none block w-full bg-grey-lighter text-grey-darker border border-grey-lighter rounded py-3 px-4"
                type="number"
                min="1"
                name="location"
                v-model.number="numberOfPeople">

            <button type="button" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white bg-orange border-none hover:bg-orange-light no-underline py-3 px-8 mt-2" @click.prevent="book">Book Now</button>
            <button type="button" class="inline-block text-sm px-4 py-2 leading-none border rounded bg-grey-lighter border-none hover:bg-grey-light no-underline py-3 px-8 mt-2" @click.prevent="toggleBookingWindow(null)">Cancel</button>
        </div>

    </div>
</template>

<script>
    export default {

        data() {
            return {
                accommodations: [],
                location: "",
                type: "",
                numberOfPeople: "",
                selectedAccommodation: null,
                selectedDate: null,
                infoWindowOpen: false,
                bookingWindowOpen: false,
                username: '',
                password: '',

            }
        },

        mounted() {
            this.listen()
            this.search()
        },

        methods: {
            listen() {
                Echo.channel('accommodations')
                    .listen('CreatedAccommodation', (e) => {
                        this.accommodations.push(e.accommodation);
                        // console.log();
                    });
            },

            search: _.debounce(function() {
                axios.get('/api/accommodations', {
                    params: {
                      location: this.location,
                      type: this.type,
                    }
                  })
                  .then((response) => {
                    this.accommodations = response.data
                  })
                  .catch((error) => {
                    console.log(error)
                  })
            }, 500),

            book: _.debounce(function() {
                axios.post('/api/bookings', {
                  accommodation_id: this.selectedAccommodation ? this.selectedAccommodation.id : null,
                  accommodation_date_id: this.selectedDate ? this.selectedDate.id : null,
                  numberOfPeople: this.numberOfPeople,
                },
                {
                  auth: {
                      username: this.username,
                      password: this.password,
                  },
                })
                  .then((response) => {
                      swal(
                        'Sucess',
                        'Your booking was completed!',
                        'success'
                      )
                      this.toggleBookingWindow(null)
                  })
                  .catch((error) => {
                    console.log(error)
                      // swal(
                      //   'Sorry',
                      //   'We were unable to complete your booking.',
                      //   'error'
                      // )
                  })
            }, 500),

            toggleInfoWindow(accommodation) {
                this.selectedAccommodation = accommodation
                this.infoWindowOpen = !this.infoWindowOpen
            },

            toggleBookingWindow(accommodation) {
                this.selectedAccommodation = accommodation
                this.selectedDate = null
                this.numberOfPeople = null
                this.bookingWindowOpen = !this.bookingWindowOpen
            },

            hasAvailableDates(accommodation)
            {
                return this.availableDates(accommodation.dates).length > 0
            },

            availableDates(dates){
                return _.filter(dates, function(date){ return date.spaces_left > 0; })
            },
        },
    }
</script>
